<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twoje Finanse</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Twoje Finanse</h1>
        <table id="finance-table">
            <thead>
                <tr>
                    <th>Kwota</th>
                    <th>Opis</th>
                    <th>Data</th>
                    <th>Typ</th>
                </tr>
            </thead>
            <tbody id="finance-list">
                {% for finance in finances %}
                <tr>
                    <td>{{ finance[2] }}</td>
                    <td>{{ finance[3] }}</td>
                    <td>{{ finance[4] }}</td>
                    <td>{{ finance[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="../static/js/scripts.js"></script>
</body>
</html>

