<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ucz się razem </title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="main-heading">Ucz się razem!</h1>
        <nav>
            <ul class="nav-list">
                <li><a href="/register">Rejestracja</a></li>
                <li><a href="/login">Logowanie</a></li>
                <li><a href="/add_task">Dodaj Zadanie</a></li>
                <li><a href="/task_info">Informacje o Zadaniach</a></li>
                <li><a href="/quiz_list">Quizy</a></li>
                <li><a href="/create_quiz">Dodaj Quiz</a></li>
                {% if session.username %}
                    <li><a href="javascript:void(0)" id="logout-button" class="logout-button">Wyloguj się</a></li>
                    <li class="user-info">Zalogowany jako: {{ session.username }}</li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <script src="../static/js/scripts.js"></script>
</body>
</html>




